.forlenge-dato {
  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.bekreftelse-modal__knapp-panel {
  justify-content: space-around;
}

.DayPicker-Day {
  padding: 1.125rem;
  font-weight: 400;
}