.tilbake-til-oversikt {
  padding: 1rem 0 0.75rem 0.125rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__lenke {
    display: flex;
    alignItems: center;
    color: #0067c5;
  }
}
